@import './custom.less';

.content4-wrap {
  width: 100%;
  height: 100%;
  h1 {
    @media (min-width: 768px) {
      font-size: 32px;
    }
    font-weight: normal;
    color: #404040;
  }
  .content4-title {
    h1 {
      text-align: center;
      margin: 5% auto 2%;
    }
    p {
      @media (min-width: 768px) {
        font-size: 14px;
      }
      text-align: center;
    }
  }
  .content4-list-wrapper {
    border-radius: 6px;
    width: 95%;
    position: relative;
    margin: 10% auto;
    &:after,
    &:before {
      content: '';
      display: table;
      height: 0;
      clear: both;
    }
    & li {
      width: 25%;
      // height: 220px;
      padding: 1%;
      float: left;
      text-align: center;
      & .content-wrapper {
        border: 1px solid @line-color;
        display: block;
        height: 100%;
        background: #fff;
        border-radius: 6px;
        padding: 10px;
        text-align: center;
        // height: 220px;
        position: relative;
        overflow: hidden;
        .page-pro();
        transition: box-shadow 0.3s @ease-out, transform 0.3s @ease-out;
        & > span {
          height: 100%;
          display: block;
          //padding: 5%;

          img {
            background: #2f3f75;
            width: 100%;
            max-height: 160px;
            @media (max-width: 768px) {
              max-height: 60px;
            }
          }
        }
        & p {
          position: absolute;
          width: 100%;
          background: transparent;
          left: 0;
          bottom: -30px;
          height: 30px;
          line-height: 30px;
          color: #fff;
          transition: bottom 0.3s @ease-out, background 0.3s @ease-out;
        }
        &:hover {
          & p {
            bottom: 0;
            background: fade(@template-bg-color, 75);
          }
          & > span {
            img {
              -webkit-filter: blur(2px);
              filter: blur(2px);
            }
          }
        }
      }
    }
  }
}
