.nav-wrap{position: absolute; top: 0; left: 0; z-index: 999; width: 100%; text-align: center; height: 64px; line-height: 64px;
	.logo{height: 33px; vertical-align: middle; }
	// .logo-wrap{transform: translateX(-30px); opacity: 0;}
	.nav-item{cursor: pointer; color: #fff;
		&:hover{color: #34aff3;}
	}
}